<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Flicker</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    
    <!-- build:css({.tmp,app}) css/flicker.css -->
    <link rel="stylesheet" href="css/flicker.css">
    <!-- endbuild -->
    <link rel="stylesheet" href="css/customized.css">

  </head>
  <body ng-app="angularFlicker">
  
    <div class="container" ng-controller="FlickerCtrl">

      <flicker delay="1000" end-delay="1000">
          <flicker-row ng-repeat="users in userChunks" ng-mouseover="freeze()" ng-mouseleave="unfreeze()" ng-transclude>
              <flicker-item ng-repeat="user in users">
                  <span>{{user.name}}</span>
              </flicker-item>
          </flicker-row>
      </flicker>
      
    </div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>

    <!-- build:js({.tmp,app}) js/flicker.min.js -->
    <script src="js/flicker.js"></script>
    <!-- endbuild -->

    <script>

      angular.module('angularFlicker').controller('FlickerCtrl', function($scope, $filter) {

        var users = [{
          name: 'intellix',
          amount: 243
        }, {
          name: 'and',
          amount: 75
        }, {
          name: 'konoro',
          amount: 122
        }, {
          name: 'kingdom',
          amount: 252
        }, {
          name: 'are',
          amount: 12
        }, {
          name: 'awesome',
          amount: 22
        }, {
          name: 'really.',
          amount: 223
        }, {
          name: 'honestly!',
          amount: 52
        }];

        $scope.userChunks = $filter('chunk')(users, 3);

      });

    </script>
    
</body>
</html>
